body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

.card {
  width: 400px;
  border-radius: 25px;
  overflow: hidden;
}
.card-title {
  color: rgb(1, 10, 2);
  margin: 10px 0;
  font-size: 25px;
}

.card-text,
.subscription-plan-price,
.cancel-button {
  color: hsl(224, 23%, 55%);
}

p {
  font-size: 16px;
  font-weight: 500;
}

.order--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.subscription--wrapper {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.row p {
  margin-bottom: 0;
  text-align: left;
}

.change-plan {
  text-align: center;
}

.payment-button {
  background-color: hsl(245, 75%, 52%);
  padding: 10px 100px;
  margin-top: 20px 0 12px 0;
  border-radius: 15px;
  font-size: 14px;
}
.payment-button:hover {
  background-color: rgb(154, 75, 224);
}

a:hover {
  color: rgb(154, 75, 224);
}

.cancel-button {
  text-decoration: none;
  padding: 12px 0;
  margin: 10px 0;
}

.cancel-button:hover {
  font-weight: bold;
  color: black;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
}

@media screen and (max-width: 440px) {
  .change-plan {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .change-plan {
    font-size: 13px;
  }
   .payment-button {
    font-size: 13px;
    margin-top: 10px;
 }
}
