body {
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
}

.card {
  width: 400px;
}
.card-title {
  color: rgb(1, 10, 2);
}

p {
  font-size: 16px;
  font-weight: 500;
}
.order--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.subscription--wrapper {
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.payment-button {
  background-color: hsl(245, 75%, 52%);
  padding: 10px 50px;
  margin-top: 10px 0 10px 0;
  border-radius: 15px;
}
.payment-button:hover {
  background-color: yellow;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
}
